In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import TimeSeriesSplit

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('strike_reports.csv', encoding='latin1')

In [3]:
df.sample(2)

,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,ENROUTE_STATE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTED_NAME,REPORTED_TITLE,SOURCE,PERSON,LUPDATE,TRANSFER
243352,1199503,3/20/2021 0:00:00,3,2021,13:17,Day,KMCO,ORLANDO INTL,28.42889,-81.31603,...,NaN,NaN,NaN,"ADDED AOS, HEIGHT, SPEED AND FUSELAGE PER MAIL...",REDACTED,REDACTED,Multiple,Airport Operations,2/25/2022 0:00:00,0
213052,1033346,8/4/2020 0:00:00,8,2020,07:30,NaN,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,9/2/2020 0:00:00,0

In [4]:
# make column names lowercase
df.columns = df.columns.str.lower()

In [5]:
# make the date column a datetime and set it as index
df = df.rename(columns={'incident_date' : 'date'})

# tried to make datetime conversion faster, but I ran into problems and it really wasn't that slow
# df.date = df.date.str.rstrip('0:00:00')
df.date = df.date.astype('datetime64')
df = df.set_index('date')
df = df.sort_index()

In [6]:
# confirm the month and year columns are the same as the index datetime
df[df.index.month != df.incident_month]

Empty DataFrame
Columns: [index_nr, incident_month, incident_year, time, time_of_day, airport_id, airport, latitude, longitude, runway, state, faaregion, location, opid, operator, reg, flt, aircraft, ama, amo, ema, emo, ac_class, ac_mass, type_eng, num_engs, eng_1_pos, eng_2_pos, eng_3_pos, eng_4_pos, phase_of_flight, height, speed, distance, sky, precipitation, aos, cost_repairs, cost_other, cost_repairs_infl_adj, cost_other_infl_adj, ingested_other, indicated_damage, damage_level, str_rad, dam_rad, str_windshld, dam_windshld, str_nose, dam_nose, str_eng1, dam_eng1, ing_eng1, str_eng2, dam_eng2, ing_eng2, str_eng3, dam_eng3, ing_eng3, str_eng4, dam_eng4, ing_eng4, str_prop, dam_prop, str_wing_rot, dam_wing_rot, str_fuse, dam_fuse, str_lg, dam_lg, str_tail, dam_tail, str_lghts, dam_lghts, str_other, dam_other, other_specify, effect, effect_other, bird_band_number, species_id, species, remarks, remains_collected, remains_sent, warned, num_seen, num_struck, size, enroute_state, nr_injuries, nr_fatalities, comments, reported_name, reported_title, source, person, lupdate, transfer]
Index: []

[0 rows x 99 columns]

In [7]:
df[df.index.year != df.incident_year]

Empty DataFrame
Columns: [index_nr, incident_month, incident_year, time, time_of_day, airport_id, airport, latitude, longitude, runway, state, faaregion, location, opid, operator, reg, flt, aircraft, ama, amo, ema, emo, ac_class, ac_mass, type_eng, num_engs, eng_1_pos, eng_2_pos, eng_3_pos, eng_4_pos, phase_of_flight, height, speed, distance, sky, precipitation, aos, cost_repairs, cost_other, cost_repairs_infl_adj, cost_other_infl_adj, ingested_other, indicated_damage, damage_level, str_rad, dam_rad, str_windshld, dam_windshld, str_nose, dam_nose, str_eng1, dam_eng1, ing_eng1, str_eng2, dam_eng2, ing_eng2, str_eng3, dam_eng3, ing_eng3, str_eng4, dam_eng4, ing_eng4, str_prop, dam_prop, str_wing_rot, dam_wing_rot, str_fuse, dam_fuse, str_lg, dam_lg, str_tail, dam_tail, str_lghts, dam_lghts, str_other, dam_other, other_specify, effect, effect_other, bird_band_number, species_id, species, remarks, remains_collected, remains_sent, warned, num_seen, num_struck, size, enroute_state, nr_injuries, nr_fatalities, comments, reported_name, reported_title, source, person, lupdate, transfer]
Index: []

[0 rows x 99 columns]

In [8]:
# confirm all the nulls for state are the same as the nulls for faaregion
df[(df.state.isnull()) & (df.faaregion.isnull())].shape

(34384, 99)

In [9]:
# state is null if airport_id is 'ZZZZ', 
# AND there are 82 additional rows where state is null and airport_id is NOT 'ZZZZ'
df[(df.state.isnull()) & (df.airport_id != 'ZZZZ')]

,index_nr,incident_month,incident_year,time,time_of_day,airport_id,airport,latitude,longitude,runway,...,enroute_state,nr_injuries,nr_fatalities,comments,reported_name,reported_title,source,person,lupdate,transfer
date,,,,,,,,,,,,,,,,,,,,,
1990-03-31,637715,3,1990,17:30,NaN,PVT,PRIVATE AIR STRIP,NaN,NaN,NaN,...,NaN,NaN,NaN,NTSB LAX90LA151 STRIKE WAS DELETED BY ERROR BT...,REDACTED,REDACTED,NTSB,Other,5/18/2015 0:00:00,0
1990-08-10,1083895,8,1990,NaN,Day,H2O,REMOTE_WATER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7,NaN,1/11/2021 0:00:00,0
1991-12-21,612244,12,1991,NaN,Day,RIGG,OIL RIG,NaN,NaN,NaN,...,NaN,NaN,NaN,/Legacy Record=104010/,REDACTED,REDACTED,FAA Form 5200-7,Pilot,4/1/1997 0:00:00,0
1992-05-30,637035,5,1992,NaN,NaN,PVT,PRIVATE AIR STRIP,NaN,NaN,NaN,...,NaN,NaN,NaN,(UPDATED LOCATION) /Legacy Record=128886/,REDACTED,REDACTED,NTSB,Other,5/18/2015 0:00:00,0
1993-09-20,636076,9,1993,09:45,Day,PVT,PRIVATE AIR STRIP,NaN,NaN,NaN,...,NaN,NaN,NaN,"SOURCE = 5200-7, NTSB SEA93LA203 & AAIPN OPER...",REDACTED,REDACTED,Multiple,Pilot,5/18/2015 0:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-10,1406874,1,2023,07:37,Dawn,NaN,JOHN GLENN COLUMBUS INTL ARPT - OH,NaN,NaN,28L,...,NaN,NaN,NaN,*** Strike Report: 2023-01-10-095944-R1( Repor...,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,3/7/2023 0:00:00,0
2023-02-06,1408363,2,2023,02:30,Night,NaN,"Lanett, AL",NaN,NaN,06,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Air Transport Operations,3/16/2023 0:00:00,0
2023-02-14,1408923,2,2023,21:02,NaN,NaN,UNKNOWN/REMOTE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,3/22/2023 0:00:00,0
2023-03-06,1409498,3,2023,09:17,NaN,NaN,WICHITA DWIGHT D EISENHOWER NATL ARPT - KS,NaN,NaN,1L,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,3/30/2023 0:00:00,0
2023-03-17,1411770,3,2023,NaN,Dusk,NaN,QUAD CITY ARPT - IL,NaN,NaN,27,...,NaN,NaN,NaN,*** Strike Report: 2023-03-17-213840-R1( Repor...,REDACTED,REDACTED,FAA Form 5200-7-E,Air Transport Operations,4/7/2023 0:00:00,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 279947 entries, 1990-01-02 to 2023-05-17
Data columns (total 99 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index_nr               279947 non-null  int64
 1   incident_month         279947 non-null  int64
 2   incident_year          279947 non-null  int64
 3   time                   156370 non-null  object
 4   time_of_day            162273 non-null  object
 5   airport_id             279942 non-null  object
 6   airport                279947 non-null  object
 7   latitude               245560 non-null  float64
 8   longitude              245561 non-null  float64
 9   runway                 212020 non-null  object
 10  state                  245563 non-null  object
 11  faaregion              245563 non-null  object
 12  location               32868 non-null   object
 13  opid                   279943 non-null  object
 14  operator               279947 non-null  object
 15  reg                    167025 non-null  object
 16  flt                    124529 non-null  object
 17  aircraft               279947 non-null  object
 18  ama                    199865 non-null  object
 19  amo                    185951 non-null  object
 20  ema                    186771 non-null  float64
 21  emo                    182131 non-null  object
 22  ac_class               201215 non-null  object
 23  ac_mass                200811 non-null  float64
 24  type_eng               200377 non-null  object
 25  num_engs               200587 non-null  float64
 26  eng_1_pos              199828 non-null  float64
 27  eng_2_pos              186401 non-null  float64
 28  eng_3_pos              13002 non-null   float64
 29  eng_4_pos              3260 non-null    float64
 30  phase_of_flight        173131 non-null  object
 31  height                 145365 non-null  float64
 32  speed                  92638 non-null   float64
 33  distance               181733 non-null  float64
 34  sky                    136086 non-null  object
 35  precipitation          130923 non-null  object
 36  aos                    13809 non-null   float64
 37  cost_repairs           5047 non-null    object
 38  cost_other             4635 non-null    object
 39  cost_repairs_infl_adj  5047 non-null    object
 40  cost_other_infl_adj    4635 non-null    object
 41  ingested_other         279947 non-null  int64
 42  indicated_damage       279947 non-null  int64
 43  damage_level           182535 non-null  object
 44  str_rad                279947 non-null  int64
 45  dam_rad                279947 non-null  int64
 46  str_windshld           279947 non-null  int64
 47  dam_windshld           279947 non-null  int64
 48  str_nose               279947 non-null  int64
 49  dam_nose               279947 non-null  int64
 50  str_eng1               279947 non-null  int64
 51  dam_eng1               279947 non-null  int64
 52  ing_eng1               279947 non-null  int64
 53  str_eng2               279947 non-null  int64
 54  dam_eng2               279947 non-null  int64
 55  ing_eng2               279947 non-null  int64
 56  str_eng3               279947 non-null  int64
 57  dam_eng3               279947 non-null  int64
 58  ing_eng3               279947 non-null  int64
 59  str_eng4               279947 non-null  int64
 60  dam_eng4               279947 non-null  int64
 61  ing_eng4               279947 non-null  int64
 62  str_prop               279947 non-null  int64
 63  dam_prop               279947 non-null  int64
 64  str_wing_rot           279947 non-null  int64
 65  dam_wing_rot           279947 non-null  int64
 66  str_fuse               279947 non-null  int64
 67  dam_fuse               279947 non-null  int64
 68  str_lg                 279947 non-null  int64
 69  dam_lg                 279947 non-null  int64
 70  str_tail               279947 non-null  int64
 71  dam_tail               279947 non-null  int64
 72  str_lghts              279947 non-null  int64
 73  dam_lghts              279947 non-null  int64
 74  str_other              279947 non-null  int64
 75  dam_other              279947 non-null  int64
 76  other_specify          36726 non-null   object
 77  effect                 140547 non-null  object
 78  effect_other           2227 non-null    object
 79  bird_band_number       181 non-null     float64
 80  species_id             279943 non-null  object
 81  species                279945 non-null  object
 82  remarks                255724 non-null  object
 83  remains_collected      279947 non-null  int64
 84  remains_sent           279947 non-null  int64
 85  warned                 279947 non-null  object
 86  num_seen               92411 non-null   object
 87  num_struck             279340 non-null  object
 88  size                   256409 non-null  object
 89  enroute_state          4921 non-null    object
 90  nr_injuries            276 non-null     float64
 91  nr_fatalities          24 non-null      float64
 92  comments               216580 non-null  object
 93  reported_name          279947 non-null  object
 94  reported_title         279947 non-null  object
 95  source                 279947 non-null  object
 96  person                 258802 non-null  object
 97  lupdate                279947 non-null  object
 98  transfer               279947 non-null  int64
dtypes: float64(16), int64(40), object(43)
memory usage: 213.6+ MB

In [11]:
for col in df.columns:
    print(f'Value Counts for {col}')
    print(df[col].value_counts())
    print(f'Num of nulls: {df[col].isnull().sum()}')
    print(f'Num of NON-nulls: {df[col].notnull().sum()}')
    print()

Value Counts for index_nr
1242675    1
793126     1
792678     1
792677     1
1091244    1
          ..
698690     1
700415     1
697820     1
698691     1
1427626    1
Name: index_nr, Length: 279947, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for incident_month
8     39029
9     37479
7     35234
10    35116
5     26804
6     22884
4     20556
11    19292
3     13983
12    11078
1      9430
2      9062
Name: incident_month, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for incident_year
2019    17342
2022    17203
2018    16205
2021    15643
2017    14777
2015    13773
2014    13692
2016    13327
2020    11624
2013    11410
2012    10932
2011    10111
2010     9897
2009     9504
2007     7740
2008     7627
2006     7273
2005     7243
2004     6566
2002     6217
2000     6025
2003     5989
2001     5822
1999     5120
1998     3809
1997     3559
2023     3042
1996     3031
1995     2825
1994     2708
1992     2651
1993     2624
1991     2516
1990     2120
Name: incident_year, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for time
08:00     1637
09:00     1586
10:00     1428
11:00     1265
21:00     1202
          ...
14:14:       1
19:19:       1
22:22:       1
18:18:       1
24:20        1
Name: time, Length: 1503, dtype: int64
Num of nulls: 123577
Num of NON-nulls: 156370

Value Counts for time_of_day
Day      99664
Night    49431
Dusk      7287
Dawn      5891
Name: time_of_day, dtype: int64
Num of nulls: 117674
Num of NON-nulls: 162273

Value Counts for airport_id
ZZZZ    34302
KDEN     9260
KDFW     7527
KORD     6065
KJFK     5882
        ...
T40         1
LIRP        1
KTLR        1
OI65        1
PALP        1
Name: airport_id, Length: 2591, dtype: int64
Num of nulls: 5
Num of NON-nulls: 279942

Value Counts for airport
UNKNOWN                              34302
DENVER INTL AIRPORT                   9260
DALLAS/FORT WORTH INTL ARPT           7527
CHICAGO O'HARE INTL ARPT              6065
JOHN F KENNEDY INTL                   5882
                                     ...
COOPERSTOWN MUNICIPAL ARPT               1
JESSE VIERTEL MEMORIAL ARPT              1
GOOSE BAY                                1
ERA HELICOPTERS FOURCHON HELIBASE        1
ALPINE AIRSTRIP                          1
Name: airport, Length: 2596, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for latitude
39.858410    9260
32.895950    7527
41.979600    6065
40.639750    5882
35.042420    4676
             ...
42.364250       1
39.077222       1
59.348259       1
40.972775       1
39.507431       1
Name: latitude, Length: 2578, dtype: int64
Num of nulls: 34387
Num of NON-nulls: 245560

Value Counts for longitude
-104.667000    9260
-97.037200     7527
-87.904460     6065
-73.778930     5882
-89.976670     4676
               ...
-100.146569       1
-77.476389        1
-151.831539       1
-75.409500        1
-150.944750       1
Name: longitude, Length: 2581, dtype: int64
Num of nulls: 34386
Num of NON-nulls: 245561

Value Counts for runway
27           3890
17R          3852
22L          3740
22           3536
23           3533
             ...
8L/35           1
D5/D6           1
HARBOR          1
Term E          1
Taxiway R       1
Name: runway, Length: 1174, dtype: int64
Num of nulls: 67927
Num of NON-nulls: 212020

Value Counts for state
TX    23812
FL    19975
CA    19954
NY    13949
CO    11900
      ...
AB       53
MB       16
NL        6
SK        5
NS        5
Name: state, Length: 63, dtype: int64
Num of nulls: 34384
Num of NON-nulls: 245563

Value Counts for faaregion
ASO     52126
AEA     39855
AGL     38557
ASW     32117
AWP     30296
ANM     25611
ACE     11533
ANE      9166
FGN      4889
AAL      1413
Name: faaregion, dtype: int64
Num of nulls: 34384
Num of NON-nulls: 245563

Value Counts for location
FOUND KCLT             923
FOUND KLGA             799
FOUND AT KCLT          706
FOUND AT KLGA          652
FOUND KDFW             571
                      ...
SOUTH OF BEDFORD IN      1
MANASSAS VA              1
OVER DASH POINT          1
14 ME SE PEORIA IL       1
FORT WORTH, TX           1
Name: location, Length: 8895, dtype: int64
Num of nulls: 247079
Num of NON-nulls: 32868

Value Counts for opid
UNK    78102
BUS    23836
SWA    23211
AAL    19833
UAL    17211
       ...
RJA        1
RKA        1
SPG        1
LIB        1
GRO        1
Name: opid, Length: 603, dtype: int64
Num of nulls: 4
Num of NON-nulls: 279943

Value Counts for operator
UNKNOWN                   78103
BUSINESS                  23836
SOUTHWEST AIRLINES        23211
AMERICAN AIRLINES         19834
UNITED AIRLINES           17211
                          ...
ABELAG AVIATION               1
ROYAL JORDANIAN               1
AIR AFRIQUE                   1
SPRINGDALE AIR SERVICE        1
BALAIR                        1
Name: operator, Length: 598, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for reg
N477HA    56
N475HA    53
N484HA    53
N479HA    51
N487HA    50
          ..
N2950H     1
N425NS     1
N777MR     1
N904LX     1
N794CP     1
Name: reg, Length: 41556, dtype: int64
Num of nulls: 112922
Num of NON-nulls: 167025

Value Counts for flt
1          131
301        128
3          107
2          103
503         90
          ...
9208         1
7102         1
7287         1
1593;        1
AAL2790      1
Name: flt, Length: 11468, dtype: int64
Num of nulls: 155418
Num of NON-nulls: 124529

Value Counts for aircraft
UNKNOWN              78370
B-737-700            13936
A-320                13442
B-737-800            10442
CRJ100/200            9405
                     ...
BELL 230                 1
HELIO COURIER 800        1
URBAN AIR LAMBADA        1
CAP AVION MUDRY          1
A220-300                 1
Name: aircraft, Length: 594, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for ama
148    70787
04A    32673
188    18526
332    17828
583    17659
       ...
Q          1
228        1
34         1
167        1
04a        1
Name: ama, Length: 99, dtype: int64
Num of nulls: 80082
Num of NON-nulls: 199865

Value Counts for amo
3.0     14428
42.0    14029
10.0    12894
43.0    10468
24.0     9991
        ...
451         1
28.0        1
93.0        1
N33         1
N16         1
Name: amo, Length: 119, dtype: int64
Num of nulls: 93996
Num of NON-nulls: 185951

Value Counts for ema
10.0     51633
22.0     39458
34.0     30553
31.0     15179
23.0     12188
1.0       9536
7.0       7798
37.0      5708
19.0      4678
13.0      4145
9.0       3092
43.0      1237
2.0        700
46.0       654
11.0       140
25.0        10
44.0         9
33.0         6
29.0         5
36.0         4
16.0         4
3.0          4
0.0          3
35.0         3
32.0         3
42.0         2
47.0         2
41.0         2
12.0         2
20.0         2
18.0         2
24.0         1
14.0         1
45.0         1
30.0         1
27.0         1
101.0        1
222.0        1
92.0         1
110.0        1
Name: ema, dtype: int64
Num of nulls: 93176
Num of NON-nulls: 186771

Value Counts for emo
1.0     46431
01      24620
4.0     22615
10.0    19477
10      15413
        ...
97          1
05          1
??          1
32.0        1
90.0        1
Name: emo, Length: 102, dtype: int64
Num of nulls: 97816
Num of NON-nulls: 182131

Value Counts for ac_class
A      196904
B        4297
C           6
J           5
Y           3
Name: ac_class, dtype: int64
Num of nulls: 78732
Num of NON-nulls: 201215

Value Counts for ac_mass
4.0    139645
3.0     33287
1.0     12882
2.0     12821
5.0      2176
Name: ac_mass, dtype: int64
Num of nulls: 79136
Num of NON-nulls: 200811

Value Counts for type_eng
D    168262
C     14663
A     13159
F      3986
B       300
E         4
Y         3
Name: type_eng, dtype: int64
Num of nulls: 79570
Num of NON-nulls: 200377

Value Counts for num_engs
2.0    174510
1.0     13075
3.0      9742
4.0      3260
Name: num_engs, dtype: int64
Num of nulls: 79360
Num of NON-nulls: 200587

Value Counts for eng_1_pos
1.0    110378
5.0     58313
4.0     16516
7.0     11008
6.0      3405
3.0       171
2.0        37
Name: eng_1_pos, dtype: int64
Num of nulls: 80119
Num of NON-nulls: 199828

Value Counts for eng_2_pos
1.0    106213
5.0     52052
4.0     16517
6.0     11416
3.0       171
2.0        31
7.0         1
Name: eng_2_pos, dtype: int64
Num of nulls: 93546
Num of NON-nulls: 186401

Value Counts for eng_3_pos
1.0    6616
5.0    5593
4.0     789
3.0       3
6.0       1
Name: eng_3_pos, dtype: int64
Num of nulls: 266945
Num of NON-nulls: 13002

Value Counts for eng_4_pos
1.0    2136
4.0    1104
5.0      17
3.0       3
Name: eng_4_pos, dtype: int64
Num of nulls: 276687
Num of NON-nulls: 3260

Value Counts for phase_of_flight
Approach        73361
Landing Roll    31204
Take-off Run    29422
Climb           26412
En Route         5230
Departure        2682
Descent          2266
Local            1064
Arrival           727
Taxi              650
Parked            113
Name: phase_of_flight, dtype: int64
Num of nulls: 106816
Num of NON-nulls: 173131

Value Counts for height
0.0       61502
100.0      6386
50.0       5696
500.0      5013
200.0      4943
          ...
1075.0        1
634.0         1
5450.0        1
1560.0        1
4640.0        1
Name: height, Length: 695, dtype: int64
Num of nulls: 134582
Num of NON-nulls: 145365

Value Counts for speed
140.0    10055
130.0     7179
120.0     6944
150.0     6186
100.0     5775
         ...
277.0        1
197.0        1
354.0        1
244.0        1
282.0        1
Name: speed, Length: 285, dtype: int64
Num of nulls: 187309
Num of NON-nulls: 92638

Value Counts for distance
0.00     160506
1.00       3036
5.00       2458
3.00       2045
2.00       2013
          ...
32.00         1
16.50         1
41.00         1
14.10         1
4.34          1
Name: distance, Length: 201, dtype: int64
Num of nulls: 98214
Num of NON-nulls: 181733

Value Counts for sky
No Cloud      65779
Some Cloud    46957
Overcast      23350
Name: sky, dtype: int64
Num of nulls: 143861
Num of NON-nulls: 136086

Value Counts for precipitation
None                119918
Rain                  7652
Fog                   2472
Snow                   479
Fog, Rain              310
Rain, Snow              27
None, Snow              26
Fog, Snow               15
None, Rain              10
Fog, None                7
Fog, Rain, Snow          6
None, Rain, Snow         1
Name: precipitation, dtype: int64
Num of nulls: 149024
Num of NON-nulls: 130923

Value Counts for aos
1.0        4318
2.0        1550
24.0        685
3.0         576
4.0         527
           ...
1117.0        1
1056.0        1
71.0          1
498.0         1
62848.0       1
Name: aos, Length: 458, dtype: int64
Num of nulls: 266138
Num of NON-nulls: 13809

Value Counts for cost_repairs
$10000.00       190
$5000.00        180
$1000.00        165
$500.00         142
$2000.00        141
               ...
$14359.00         1
$24605.00         1
$37468.00         1
$28850.00         1
$14500000.00      1
Name: cost_repairs, Length: 1301, dtype: int64
Num of nulls: 274900
Num of NON-nulls: 5047

Value Counts for cost_other
$500.00       392
$100.00       339
$200.00       324
$1000.00      264
$300.00       245
             ...
$230000.00      1
$195931.00      1
$19069.00       1
$962.00         1
$5513.00        1
Name: cost_other, Length: 646, dtype: int64
Num of nulls: 275312
Num of NON-nulls: 4635

Value Counts for cost_repairs_infl_adj
$22880.00    13
$12340.00    13
$6500.00     13
$11930.00    13
$13000.00    12
             ..
$9276.00      1
$2067.00      1
$1855.00      1
$38347.00     1
$3500.00      1
Name: cost_repairs_infl_adj, Length: 2934, dtype: int64
Num of nulls: 274900
Num of NON-nulls: 5047

Value Counts for cost_other_infl_adj
$247.00       64
$583.00       50
$637.00       36
$260.00       35
$618.00       35
              ..
$17713.00      1
$56909.00      1
$812500.00     1
$68250.00      1
$5513.00       1
Name: cost_other_infl_adj, Length: 1627, dtype: int64
Num of nulls: 275312
Num of NON-nulls: 4635

Value Counts for ingested_other
0    268567
1     11380
Name: ingested_other, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for indicated_damage
0    260421
1     19526
Name: indicated_damage, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for damage_level
N     163007
M       8550
M?      6660
S       4236
D         82
Name: damage_level, dtype: int64
Num of nulls: 97412
Num of NON-nulls: 182535

Value Counts for str_rad
0    254113
1     25834
Name: str_rad, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_rad
0    277945
1      2002
Name: dam_rad, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_windshld
0    245454
1     34493
Name: str_windshld, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_windshld
0    278567
1      1380
Name: dam_windshld, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_nose
0    247569
1     32378
Name: str_nose, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_nose
0    278330
1      1617
Name: dam_nose, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_eng1
0    266850
1     13097
Name: str_eng1, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_eng1
0    277015
1      2932
Name: dam_eng1, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for ing_eng1
0    279364
1       583
Name: ing_eng1, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_eng2
0    268907
1     11040
Name: str_eng2, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_eng2
0    277502
1      2445
Name: dam_eng2, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for ing_eng2
0    279304
1       643
Name: ing_eng2, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_eng3
0    279469
1       478
Name: str_eng3, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_eng3
0    279780
1       167
Name: dam_eng3, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for ing_eng3
0    279939
1         8
Name: ing_eng3, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_eng4
0    279715
1       232
Name: str_eng4, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_eng4
0    279880
1        67
Name: dam_eng4, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for ing_eng4
0    279946
1         1
Name: ing_eng4, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_prop
0    275165
1      4782
Name: str_prop, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_prop
0    279275
1       672
Name: dam_prop, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_wing_rot
0    247057
1     32890
Name: str_wing_rot, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_wing_rot
0    274124
1      5823
Name: dam_wing_rot, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_fuse
0    254806
1     25141
Name: str_fuse, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_fuse
0    278801
1      1146
Name: dam_fuse, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_lg
0    268093
1     11854
Name: str_lg, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_lg
0    278691
1      1256
Name: dam_lg, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_tail
0    277081
1      2866
Name: str_tail, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_tail
0    278963
1       984
Name: dam_tail, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_lghts
0    278538
1      1409
Name: str_lghts, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_lghts
0    278979
1       968
Name: dam_lghts, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for str_other
0    243356
1     36591
Name: str_other, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for dam_other
0    277629
1      2318
Name: dam_other, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279947

Value Counts for other_specify
PART NOT REPORTED     14588
PART NOT REPTD        13817
part not reported       844
parts not reported      601
PITOT TUBE              308
                      ...
#4 ENG COWLING            1
RH PITOT TUBE             1
ENG #2 PYLON              1
Brake hose                1
right flap                1
Name: other_specify, Length: 2829, dtype: int64
Num of nulls: 243221
Num of NON-nulls: 36726

Value Counts for effect
None                                             127100
Precautionary Landing                              7749
Aborted Take-off                                   2979
Other                                              1860
Engine Shutdown                                     430
Other, Precautionary Landing                        320
Engine Shutdown, Precautionary Landing               44
Engine Shutdown, Other, Precautionary Landing        42
Aborted Take-off, Engine Shutdown                    17
Aborted Take-off, Other                               5
Engine Shutdown, Other                                1
Name: effect, dtype: int64
Num of nulls: 139400
Num of NON-nulls: 140547

Value Counts for effect_other
GO-AROUND                       229
EVASIVE MANEUVER                227
AIRCRAFT CONTROLS EFFECTED      190
OVERWEIGHT LANDING              131
FUEL BURN                       118
                               ...
LOSS OF CONTROL                   1
CONCERNS WITH STEERING            1
EVASIVE MANEUVER, NOSED OVER      1
EMERGENCY STOP                    1
RETURN TO BASE                    1
Name: effect_other, Length: 661, dtype: int64
Num of nulls: 277720
Num of NON-nulls: 2227

Value Counts for bird_band_number
195707683.0    2
168702515.0    2
78478661.0     1
120791572.0    1
180746861.0    1
              ..
196713266.0    1
183337175.0    1
168731226.0    1
189314535.0    1
189343000.0    1
Name: bird_band_number, Length: 179, dtype: int64
Num of nulls: 279766
Num of NON-nulls: 181

Value Counts for species_id
UNKBS    47902
UNKBM    38117
UNKB     23114
O2205    13975
N5111     9214
         ...
Q2102        1
X6110        1
2D13         1
K3202        1
2            1
Name: species_id, Length: 892, dtype: int64
Num of nulls: 4
Num of NON-nulls: 279943

Value Counts for species
Unknown bird - small     47902
Unknown bird - medium    38117
Unknown bird             23114
Mourning dove            13975
Killdeer                  9214
                         ...
Common ringed plover         1
Hooded crow                  1
Common kingsnake             1
Kites                        1
Reptiles                     1
Name: species, Length: 900, dtype: int64
Num of nulls: 2
Num of NON-nulls: 279945

Value Counts for remarks
NO DMG.                                                                                                                 2530
NO DMG                                                                                                                  1066
NO DAMAGE                                                                                                               1018
NO DAMAGE.                                                                                                               844
NO DMG NOTED.                                                                                                            838
                                                                                                                        ...

In [12]:
# decide which columns to keep
keep_cols = ['time_of_day', 'airport_id', 'airport', 'runway', 'state', 'opid', 'operator'
             , 'aircraft', 'ac_class', 'ac_mass', 'type_eng', 'num_engs', 'phase_of_flight'
             , 'precipitation', 'damage_level', 'species_id', 'species', 'size']
df = df[keep_cols]

In [13]:
# changing nulls to 'Unknown' for time of day (Dusk, Dawn, ..., Unknown)
df.time_of_day = df.time_of_day.fillna('Unknown')

In [14]:
df.time_of_day.value_counts()

Unknown    117674
Day         99664
Night       49431
Dusk         7287
Dawn         5891
Name: time_of_day, dtype: int64

In [15]:
df[df.airport_id.isnull()].shape

(5, 18)

In [16]:
df.shape

(279947, 18)

In [17]:
# there are only 5 nulls for airport_id, so I'm just going to remove them. It's easier than fixing them one at a time
df = df[df.airport_id.notnull()]
df.shape

(279942, 18)

In [18]:
df[df.airport_id == 'ZZZZ'].sample(3)

,time_of_day,airport_id,airport,runway,state,opid,operator,aircraft,ac_class,ac_mass,type_eng,num_engs,phase_of_flight,precipitation,damage_level,species_id,species,size
date,,,,,,,,,,,,,,,,,,
2011-02-20,Unknown,ZZZZ,UNKNOWN,NaN,NaN,EGF,AMERICAN EAGLE AIRLINES,EMB-145,A,3.0,D,2.0,NaN,None,N,UNKBS,Unknown bird - small,Small
2007-03-21,Night,ZZZZ,UNKNOWN,NaN,NaN,UPS,UPS AIRLINES,A-300,A,4.0,D,2.0,NaN,None,N,Z5101,Brown thrasher,Small
2007-07-21,Unknown,ZZZZ,UNKNOWN,NaN,NaN,DHL,ASTAR AIR CARGO,DC-9-40,A,4.0,D,2.0,NaN,NaN,N,UNKBS,Unknown bird - small,Small

In [19]:
# there are enough airport_id's with 'ZZZZ', i.e. the location of the birdstrike is unknown, that I want to save them
df.runway = np.where(df.runway.isnull(), '99', df.runway)

In [20]:
df.state = np.where(df.state.isnull(), 'ZZ', df.state)

In [21]:
df.phase_of_flight = np.where(df.phase_of_flight.isnull(), 'Unknown', df.phase_of_flight)

In [23]:
df.precipitation = np.where(df.precipitation.isnull(), 'Unknown', df.precipitation)

In [24]:
df.head()

,time_of_day,airport_id,airport,runway,state,opid,operator,aircraft,ac_class,ac_mass,type_eng,num_engs,phase_of_flight,precipitation,damage_level,species_id,species,size
date,,,,,,,,,,,,,,,,,,
1990-01-02,Unknown,KJFK,JOHN F KENNEDY INTL,31L,NY,FDX,FEDEX EXPRESS,DC-10,A,4.0,D,3.0,Departure,Unknown,N,UNKB,Unknown bird,NaN
1990-01-02,Unknown,PHLI,LIHUE ARPT,99,HI,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,Unknown,Unknown,NaN,R1101,Barn owl,Small
1990-01-04,Unknown,PHLI,LIHUE ARPT,99,HI,HAL,HAWAIIAN AIR,DC-9,A,4.0,D,2.0,Landing Roll,Unknown,NaN,ZY1,Munias,Small
1990-01-05,Unknown,PHLI,LIHUE ARPT,99,HI,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,Unknown,Unknown,NaN,N5122,Pacific golden-plover,Small
1990-01-05,Unknown,PHLI,LIHUE ARPT,99,HI,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,Unknown,Unknown,NaN,ZY1,Munias,Small

In [ ]:
##  START BACK UP HERE:  Deal with remaining nulls, then do some univariate plotting of counts over time

In [25]:
for col in df.columns:
    print(f'Value Counts for {col}')
    print(df[col].value_counts())
    print(f'Num of nulls: {df[col].isnull().sum()}')
    print(f'Num of NON-nulls: {df[col].notnull().sum()}')
    print()

Value Counts for time_of_day
Unknown    117672
Day         99664
Night       49430
Dusk         7286
Dawn         5890
Name: time_of_day, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for airport_id
ZZZZ    34302
KDEN     9260
KDFW     7527
KORD     6065
KJFK     5882
        ...
T40         1
LIRP        1
KTLR        1
OI65        1
PALP        1
Name: airport_id, Length: 2591, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for airport
UNKNOWN                        34302
DENVER INTL AIRPORT             9260
DALLAS/FORT WORTH INTL ARPT     7527
CHICAGO O'HARE INTL ARPT        6065
JOHN F KENNEDY INTL             5882
                               ...
HOUSTON GULF ARPT                  1
GALILEO GALILEI ARPT               1
MCGEHEE CATFISH REST               1
MEFFORD FIELD ARPT                 1
ALPINE AIRSTRIP                    1
Name: airport, Length: 2591, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for runway
99           67927
27            3889
17R           3852
22L           3740
22            3536
             ...
8L/35            1
D5/D6            1
8.               1
Term E           1
Taxiway R        1
Name: runway, Length: 1174, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for state
ZZ    34379
TX    23812
FL    19975
CA    19954
NY    13949
      ...
AB       53
MB       16
NL        6
SK        5
NS        5
Name: state, Length: 64, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for opid
UNK    78102
BUS    23836
SWA    23211
AAL    19833
UAL    17211
       ...
RJA        1
RKA        1
SPG        1
LIB        1
GRO        1
Name: opid, Length: 603, dtype: int64
Num of nulls: 3
Num of NON-nulls: 279939

Value Counts for operator
UNKNOWN                   78103
BUSINESS                  23836
SOUTHWEST AIRLINES        23211
AMERICAN AIRLINES         19833
UNITED AIRLINES           17211
                          ...
ABELAG AVIATION               1
ROYAL JORDANIAN               1
AIR AFRIQUE                   1
SPRINGDALE AIR SERVICE        1
BALAIR                        1
Name: operator, Length: 598, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for aircraft
UNKNOWN              78370
B-737-700            13936
A-320                13441
B-737-800            10442
CRJ100/200            9405
                     ...
BELL 230                 1
HELIO COURIER 800        1
URBAN AIR LAMBADA        1
CAP AVION MUDRY          1
A220-300                 1
Name: aircraft, Length: 594, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for ac_class
A      196899
B        4297
C           6
J           5
Y           3
Name: ac_class, dtype: int64
Num of nulls: 78732
Num of NON-nulls: 201210

Value Counts for ac_mass
4.0    139641
3.0     33287
1.0     12881
2.0     12821
5.0      2176
Name: ac_mass, dtype: int64
Num of nulls: 79136
Num of NON-nulls: 200806

Value Counts for type_eng
D    168258
C     14663
A     13158
F      3986
B       300
E         4
Y         3
Name: type_eng, dtype: int64
Num of nulls: 79570
Num of NON-nulls: 200372

Value Counts for num_engs
2.0    174506
1.0     13074
3.0      9742
4.0      3260
Name: num_engs, dtype: int64
Num of nulls: 79360
Num of NON-nulls: 200582

Value Counts for phase_of_flight
Unknown         106815
Approach         73360
Landing Roll     31204
Take-off Run     29421
Climb            26410
En Route          5230
Departure         2682
Descent           2266
Local             1064
Arrival            727
Taxi               650
Parked             113
Name: phase_of_flight, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for precipitation
Unknown             149021
None                119916
Rain                  7652
Fog                   2472
Snow                   479
Fog, Rain              310
Rain, Snow              27
None, Snow              26
Fog, Snow               15
None, Rain              10
Fog, None                7
Fog, Rain, Snow          6
None, Rain, Snow         1
Name: precipitation, dtype: int64
Num of nulls: 0
Num of NON-nulls: 279942

Value Counts for damage_level
N     163004
M       8549
M?      6659
S       4236
D         82
Name: damage_level, dtype: int64
Num of nulls: 97412
Num of NON-nulls: 182530

Value Counts for species_id
UNKBS    47901
UNKBM    38117
UNKB     23112
O2205    13975
N5111     9214
         ...
Q2102        1
X6110        1
2D13         1
K3202        1
2            1
Name: species_id, Length: 892, dtype: int64
Num of nulls: 4
Num of NON-nulls: 279938

Value Counts for species
Unknown bird - small     47901
Unknown bird - medium    38117
Unknown bird             23112
Mourning dove            13975
Killdeer                  9214
                         ...
Common ringed plover         1
Hooded crow                  1
Common kingsnake             1
Kites                        1
Reptiles                     1
Name: species, Length: 900, dtype: int64
Num of nulls: 2
Num of NON-nulls: 279940

Value Counts for size
Small     172533
Medium     65926
Large      17947
Name: size, dtype: int64
Num of nulls: 23536
Num of NON-nulls: 256406